.app {
  padding: 10px;
  text-align: center;
  background-color: #fffdf5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  font-family: Roobert, SF Pro Text, SF Pro Icons, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Arial, Ubuntu, Cantarell, Oxygen-Sans,
    Fira Sans, Droid Sans, Helvetica Neue, Helvetica, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol !important;
}

svg {
  position: relative !important;
}

.box-and-label {
  display: flex; 
  flex-direction: column;
  padding: 10px;
}

.chart-editors {
  display: flex; 
  flex-direction: row;
  padding: 10px;
  justify-content: center;
}