.log-in input {
    width: 75%;
}

.log-in button {
    width: 33%; 
    display: inline-block; 
    margin-right: 10px; 
}

.log-in-box {
  display: flex; 
  flex-direction: column;
  height: 100%; /* full height */
  width: 250px; /* width of sidebar */ 
  position: fixed; /* fixed sidebar */ 
  z-index: 1; /* stay on top */ 
  top: 0; /* stay on top */ 
  left: 0; 
  background-color: rgb(58, 69, 219); 
  padding-top: 20px; 
}