.holder {
  right: 0;
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  background-color: black;
  display: table;
}

.article-link {
  display: table-cell;
  vertical-align: middle;
}

.bottombar {
  display: table-row;
  vertical-align: bottom;
  height: 10%;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.side-button {
  margin: 10px;
}
