.stock-card {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 19px 38px, rgba(0, 0, 0, 0.4) 0px 15px 12px;
  width: 50vw;
  height: 60vh;
  padding: 20px 5px 10px 5px;
  margin: 10px 5px 10px 5px;
}

h3 {
  color: white;
}

.chart-container {
  width: 100%;
  height: 45vh;
  color: white;
}
