.theme-selector {
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 19px 38px, rgba(0, 0, 0, 0.4) 0px 15px 12px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: fit-contentx;
}

.lil-icon {
  width: 25px;
  height: auto;
}
